@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

    --cor-principal: #ffff;
    --cor-destaque:#00CED1;
    --cor-fundo-botton:#008B8B;
    --cor-logo:#00CED1;
    --cor-fundo-inf:#161616;

    --fonte-logo:"Open Sans";
    --fonte-link-menu:"Arial";
    --font-nome:"Poppins";
}
.principal__educacao{
    display: flex;
    width: 100%;
    margin-top: 250px;
    flex-direction: column;
}
.principal__educacao__titulo{
    align-items: center;
    margin-left:35%;
}
.principal__educacao__titulo h1{
    color: var(--cor-principal);
    font-family: var(--fonte-logo);
}
.linha3{
    width: 35%;
    height: 5px;
    border-radius: 12px;
    background: var(--cor-destaque);
    margin-top: 5px;

}
.principal__educacao__cont{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.principal__educacao__cont__card{
    width: 20%;
    height: 450px;
    margin-right: 550px;
    color: var(--cor-principal);
    background: var(--cor-fundo-inf);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.principal__educacao__cont__card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px; /* espessura da linha */
    background: var(--cor-destaque);
    
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    opacity: 0;
    transition: opacity 0.3s ease;
}
.principal__educacao__cont__card:hover::before {
    opacity: 1;
}
.cont__card__princ{
    display: flex;
    justify-content: space-between;
}
.cont__card__titulo{
    width:40%;
    padding:3%;
}
.cont__card__date{
    width:40%;
    padding:3%;
}
.cont__card__date p {
    font-size: 12px;
    font-family: var(--font-nome);
    background: #1e1e1e;
    padding: 5px 18px;
    border-radius: 12px;
    align-self: center;
}
.cont__card__adress{
    width: 100%;
    padding: 3%;
}
.principal__educacao__cont__card h1{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.principal__educacao__cont__card h2{
    font-size: 14px;
    font-family: sans-serif;
}
.principal__educacao__cont__card h4{
    font-size: 14px;
    font-family: sans-serif;
}
.linha4{
    width:100%;
    height: 1px;
    background: #333;
    margin: 20px 0;
}
.cont__card__text{
    width: 70%;
    align-items: center;
    padding-left: 3%;
    line-height: 1.3;
}
.linha5{
    width: 1px;
    height:140px;
    background: linear-gradient(
        to bottom,
        transparent,
        var(--cor-destaque),
        transparent
    );
    margin: 20px 0;
    margin-right: 230px;
    margin-top:-0.1px;
    z-index: 0;
}
.timeline-item{
    position: relative;
}
.timeline-item::before {
    content: "";
    position: absolute;
    top: -34px;
    left:-121px; 
    width: 12px;
    height: 12px;
    background: var(--cor-destaque);
    border-radius: 50%;
}
#card2{
    margin-left:620px;
    margin-top: -20px;
}