@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

    --cor-principal: #ffff;
    --cor-destaque:#00CED1;
    --cor-fundo-botton:#008B8B;
    --cor-logo:#00CED1;
    --cor-fundo-inf:#161616;

    --fonte-logo:"Open Sans";
    --fonte-link-menu:"Arial";
    --font-nome:"Poppins";
}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.main-footer{
    width: 100%;
    height: 300px;
    margin-top: 200px;
    display: flex;
    gap:30px;
    background-color: var(--cor-fundo-inf);
}
.contact-footer{
    margin-top: 70px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
}
.contact__footer__item{
    display: flex;
    align-items: center;
}
.contact__footer__item p{
    color: var(--cor-principal);
    font-family: var(--font-nome);
}
.contact__footer__item i{
    color: var(--cor-destaque);
    padding: 18px;
    border-radius: 12px;
}
.social-icons-footer{
    margin-left: 140px;
    margin-top: 70px;
    gap: 20px;
    width: 400px;

}
.social-icons-footer h2{
    color: var(--cor-principal);
    font-family: var(--fonte-link-menu);
}
.social-icons-itens {
    gap: 10px;
    display: flex;
    
}
.social-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    background: #222;
    border-radius: 8px;

    text-decoration: none;
    color: white;

    transition: 0.3s;
}
.social-btn i{
    font-size: 20px;
}
.social-btn:hover{
    background: var(--cor-destaque);
    color: black;
}
.second-footer{
    width: 100%;
    height: 50px;
    color:var(--cor-principal);
    display: flex;
    align-items: center;
}
.credits-footer{
    margin-left: 38%;
    width: 500px;
    display: flex;
    gap: 20px;
}