@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

    --cor-principal: #ffff;
    --cor-destaque:#00CED1;
    --cor-fundo-botton:#008B8B;
    --cor-logo:#00CED1;
    --cor-fundo-inf:#161616;

    --fonte-logo:"Open Sans";
    --fonte-link-menu:"Arial";
    --font-nome:"Poppins";
}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html, body{
    height: 100%;
}
.projetos__conteudo{
    width: 100%;
    margin-top: 80px;
}
.conteudo__tt{
    display: flex;
    align-items: center;
    width: 100%;
}
.conteudo__titulo{
    width: 700px;
    margin-top: 120px;
    align-self: center;
    font-family: var(--font-nome);
    color: var(--cor-principal);
    margin-left: 33%;
}
.conteudo__titulo h1{
    color: var(--cor-destaque);
}
.conteudo__titulo h4{
    font-size: 15px;
}
.areadoConteudo{
    display: flex;
    margin-top: 150px;
    gap: 100px;
    
}
.conteudo__imgT{
    align-items: left;
    margin-left: 13%;
}
.slider{
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
}

.slides{
    display: flex;
    transition: transform 0.5s ease;
}

.slides img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}
.conteudo__card{
    width: 500px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;

    background: #1a1a1a;
    border: 1px solid #333;

    transition: 0.3s;
    padding: 20px;
}
.conteudo__card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--cor-destaque);

}
.conteudo__card h3{
    color: white;
    margin-bottom: 8px;
    font-family: var(--fonte-logo);
}
.linha8{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #00CED1;
}
.card__buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card__btn2{
    padding: 8px 12px;
    width: 450px;
    background:#60b4b6;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}
.conteudo__descricao{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.descricao{
    width: 800px;
    margin-left: 13%;
    gap: 15px;
}
.descricao h2{
    color: var(--cor-principal);
    font-family: var(--font-nome);
}
.descricao p{
    color: var(--cor-principal);
    font-family: var(--fonte-logo);
}
.linha9{
    width: 40%;
    margin-left: 13%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #00CED1;
}
.functions {
    width: 800px;
    margin-left: 13%;
    gap: 15px;
}
.functions h2{
    color: var(--cor-principal);
    font-family: var(--font-nome);
}
.functions li{
    color: var(--cor-principal);
    font-family: var(--fonte-logo);
    margin-left: 30px;
}
.objetivo{
    width: 800px;
    margin-left: 13%;
    gap: 15px;
}
.objetivo h2{
    color: var(--cor-principal);
    font-family: var(--font-nome);
}
.objetivo p{
    color: var(--cor-principal);
    font-family: var(--fonte-logo);
}
.equipe{
    width: 800px;
    margin-left: 13%;
    gap: 15px;
}
.equipe h2{
    color: var(--cor-principal);
    font-family: var(--font-nome);
}
.equipe li{
    color: var(--cor-principal);
    font-family: var(--fonte-logo);
    margin-left: 30px;
}
