:root{
    --cor-de-fundo: black;
    --cor-principal: #ffff;
    --cor-destaque:#00CED1;
    --cor-fundo-botton:#008B8B;

    --fonte-principal:"Arial";
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    box-sizing: border-box;
}
.principal{
    padding: 5% 5%;
}
.principal__conteudo{
    display: flex;
    gap:20%;
    width: 100%;
}
.principal__conteudo__imagem{
    width: 20%;
    height: 300px;
    margin-top: 130px;
}
.principal__conteudo__imagem img{
    max-width: 100%;
}
.principal__conteudo__inf{
    color: #ffff;
    display: flex;
    flex-direction: column;
    gap:5px ;
    width: 30%;
    margin-top: 10%;
    font-family: var(--fonte-principal);
}
.principal__conteudo__titulo{
    font-size:3em;
    margin-bottom: 10px;
}
.principal__conteudo__subtitulo{
    font-size: 2em;
    margin-bottom:10px;
}
.principal__conteudo__texto{
    line-height: 1.5;
}
.cor__destaque{
    color:var(--cor-destaque);
}
.social-icons{
    margin-top: 20px;
    padding-left:3px ;
}
.social__botton{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    border: solid  1px;
    border-color: var(--cor-destaque);
    padding: 10px;
    border-radius: 50%;
    margin-left:20px;
    transition:0.1s;
}
.social__botton:hover {
    box-shadow: var(--cor-destaque) 0px 0px 5px 1px;
    background-color: var(--cor-fundo-botton);
    transform: scale(1.5);
}
.social__botton:hover svg{
    transform: scale(1.3);
}
.botton__cont{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: solid 1px var(--cor-destaque);
    border-radius: 13%;
    color: var(--cor-destaque);
    padding: 20px;
    width: 20%;
    font-family: var(--fonte-principal);
}
.botton__cont:hover{
    box-shadow: var(--cor-destaque) 0px 0px 5px 1px;
}

